.user{
    display: flex;
    background-color: aquamarine;
}

.formSearch{
    margin-left: 15px;
    background: #fff;
    max-width: 270px;
    width: 230px;
    height: 660px;
}

.user{
    background: #fff;
}

.formInput{
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 20px;
}

.ant-btn-dangerous.ant-btn-primary {
    background: #69A026 !important;
    border-color: #69A026 !important;
    color: white !important;
}

.button-filter{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.ant-btn-dangerous{
    border-color: #69A026 !important;
    color: #69A026 !important;
    margin-left: 5px;
}

.user{
    background: #fff;
}

.filtro-text{
    color: #1D43AD;
    font-size: 20px;
    display: flex;
}


.user-logo{
    color: #1D43AD;
    display: flex;
    text-align:center;
    font-size: 20px;
    position: relative;
    top: 12px;
}